@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<ContentCategory> ContentCategories { get; set; }
}

<div class="container">
    <h2>@Title</h2>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xxl-3 g-3">
        @if (ContentCategories != null)
        {
            @foreach (var category in ContentCategories.Where(c => c.Enabled))
            {
                <div class="col g-4">
                    <h6 class="text-info">@category.Title</h6>
                    <ul class="list-unstyled small">
                        @foreach (var platform in category.Platforms)
                        {
                            <li>
                                <a href="@platform.Url" target="_blank">@platform.Name</a>
                                <span>- @platform.Description</span>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="col">
                <p>Loading content...</p>
            </div>
        }
    </div>
</div>
